.header-v2-container {
  display: flex;
  position: relative;
}
.header-v2-navbar-interactive {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 150;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #15396c;
}
.header-v2-desktop-menu {
  flex: 1;
  width: auto;
  display: flex;
  position: sticky;
  justify-content: space-between;
}
.header-v2-navlink {
  display: contents;
}
.header-v2-text {
  color: var(--dl-color-text-whitetext);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}
.header-v2-text:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-text:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-text1 {
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
}
.header-v2-links {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-end;
}
.header-v2-navlink1 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}
.header-v2-navlink1:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink1:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink2 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink2:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink2:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink3 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink3:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink3:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-v2-add-vehicle {
  transition: 0.3s;
  text-decoration: none;
}




.header-v2-burger-menu {
  display: none;
}
.header-v2-text4 {
  left: 0;
  color: var(--dl-color-text-whitetext);
  position: absolute;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}
.header-v2-text4:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-text4:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-text5 {
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
}
.header-v2-icon {
  right: 0;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  transition-duration: 280ms;
}
.header-v2-icon:focus {
  fill: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-icon:hover {
  fill: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 280ms;
}
.header-v2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-v2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-v2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-v2-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}
.header-v2-icon2:focus {
  fill: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-icon2:hover {
  fill: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-v2-navlink5 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}
.header-v2-navlink5:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink5:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink6 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink6:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink6:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink7 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink7:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink7:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink8 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink8:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink8:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-v2-add-vehicle1 {
  text-decoration: none;
}









.header-v2-root-class-name9 {
  align-self: center;
}
@media(max-width: 1200px) {
  .header-v2-links {
    margin-left: var(--dl-space-space-twounits);
  }
  .header-v2-burger-menu {
    position: relative;
  }
  .header-v2-text4 {
    width: auto;
  }
}
@media(max-width: 991px) {
  .header-v2-navbar-interactive {
    padding-left: TwoUnits;
    padding-right: TwoUnits;
  }
  .header-v2-desktop-menu {
    display: none;
  }
  .header-v2-burger-menu {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .header-v2-text4 {
    flex: initial;
    width: auto;
    height: auto;
    position: static;
    padding-right: var(--dl-space-space-halfunit);
  }
  .header-v2-icon {
    fill: var(--dl-color-text-whitetext);
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-v2-mobile-menu {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: rgba(21, 57, 108, 0.95);
  }
  .header-v2-nav {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .header-v2-top {
    margin-bottom: 0px;
  }
  .header-v2-close-menu {
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: flex-end;
  }
  .header-v2-icon2 {
    fill: var(--dl-color-text-whitetext);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-v2-links1 {
    flex: 1;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .header-v2-navlink5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-v2-navlink6 {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-v2-navlink7 {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-v2-navlink8 {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .header-v2-buttons1 {
    display: none;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .header-v2-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-v2-burger-menu {
    align-items: center;
  }
  .header-v2-text4 {
    flex: initial;
    height: auto;
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .header-v2-text4 {
    position: static;
    padding-right: var(--dl-space-space-threeunits);
  }
  .header-v2-icon {
    fill: var(--dl-color-text-whitetext);
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 125;
  position: relative;
  align-items: flex-start;
  background-color: var(--dl-color-primaryblue-primaryblue);
}
.footer-text {
  width: 30%;
  font-size: 1rem;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 500;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.footer-text1 {
  color: var(--dl-color-gray-white);
}
.footer-text3 {
  color: var(--dl-color-gray-900);
  width: 100%;
  font-size: 1rem;
  font-style: italic;
  min-height: 160px;
  font-family: "Roboto";
  font-weight: 300;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.footer-root-class-name {
  width: 100%;
}
.footer-root-class-name1 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name2 {
  top: bottom;
  left: 0px;
  bottom: 0vh;
  height: auto;
  position: static;
}


.footer-root-class-name5 {
  width: 100vw;
}

.footer-root-class-name7 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name8 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name9 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name10 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}

.add-vehicle-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
}
.add-vehicle-content {
  flex: 0 0 auto;
  display: flex;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.add-vehicle-container1 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.add-vehicle-container2 {
  top: 0px;
  left: left;
  width: 100vw;
  height: 350px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-secondaryblue-secondaryblue);
}
.add-vehicle-heading {
  color: var(--dl-color-text-whitetext);
  z-index: 1;
  align-self: flex-start;
  text-align: left;
}
.add-vehicle-text {
  color: var(--dl-color-text-whitetext);
  z-index: 1;
  font-size: 1.25rem;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  padding-top: 1rem;
}
.add-vehicle-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.add-vehicle-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.add-vehicle-feature-card {
  width: var(--dl-size-size-xxlarge);
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: auto;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-default-accentblue);
}

.add-vehicle-container4 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-vehicle-icon {
  fill: var(--dl-color-primaryblue-primarybluedark);
  width: 150px;
  height: 150px;
  align-self: center;
}
.add-vehicle-text05 {
  color: var(--dl-color-primaryblue-primaryblue);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.add-vehicle-text06 {
  margin: var(--dl-space-space-unit);
  align-self: center;
  text-align: center;
}
.add-vehicle-vector1 {
  width: 12px;
  height: 40px;
}
.add-vehicle-feature-card1 {
  width: var(--dl-size-size-xxlarge);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: auto;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-default-accentblue);
}

.add-vehicle-container5 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-vehicle-icon2 {
  fill: var(--dl-color-primaryblue-primarybluedark);
  width: 150px;
  height: 150px;
  align-self: center;
}
.add-vehicle-text07 {
  color: var(--dl-color-primaryblue-primaryblue);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.add-vehicle-text08 {
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.add-vehicle-vector11 {
  width: 12px;
  height: 40px;
}
.add-vehicle-feature-card2 {
  width: var(--dl-size-size-xxlarge);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: auto;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: var(--dl-color-default-accentblue);
}

.add-vehicle-container6 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-vehicle-icon4 {
  fill: var(--dl-color-primaryblue-primarybluedark);
  width: 150px;
  height: 150px;
  align-self: center;
}
.add-vehicle-text11 {
  color: var(--dl-color-primaryblue-primaryblue);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.add-vehicle-text14 {
  margin: var(--dl-space-space-unit);
  align-self: center;
  text-align: center;
}
.add-vehicle-container7 {
  display: flex;
  position: relative;
}
.add-vehicle-button {
  transition: 0.3s;
  text-decoration: none;
}




@media(max-width: 1200px) {
  .add-vehicle-container1 {
    width: 100vw;
  }
}
@media(max-width: 767px) {
  .add-vehicle-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .add-vehicle-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
