.header-v2-container {
  display: flex;
  position: relative;
}
.header-v2-navbar-interactive {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 150;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #15396c;
}
.header-v2-desktop-menu {
  flex: 1;
  width: auto;
  display: flex;
  position: sticky;
  justify-content: space-between;
}
.header-v2-navlink {
  display: contents;
}
.header-v2-text {
  color: var(--dl-color-text-whitetext);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}
.header-v2-text:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-text:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-text1 {
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
}
.header-v2-links {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-end;
}
.header-v2-navlink1 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}
.header-v2-navlink1:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink1:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink2 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink2:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink2:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink3 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink3:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink3:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-v2-add-vehicle {
  transition: 0.3s;
  text-decoration: none;
}




.header-v2-burger-menu {
  display: none;
}
.header-v2-text4 {
  left: 0;
  color: var(--dl-color-text-whitetext);
  position: absolute;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}
.header-v2-text4:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-text4:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-text5 {
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
}
.header-v2-icon {
  right: 0;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  transition-duration: 280ms;
}
.header-v2-icon:focus {
  fill: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-icon:hover {
  fill: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 280ms;
}
.header-v2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-v2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-v2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-v2-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}
.header-v2-icon2:focus {
  fill: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-icon2:hover {
  fill: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-v2-navlink5 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}
.header-v2-navlink5:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink5:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink6 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink6:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink6:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink7 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink7:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink7:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink8 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-v2-navlink8:focus {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-navlink8:hover {
  color: var(--dl-color-secondaryblue-secondarybluelight);
}
.header-v2-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-v2-add-vehicle1 {
  text-decoration: none;
}









.header-v2-root-class-name9 {
  align-self: center;
}
@media(max-width: 1200px) {
  .header-v2-links {
    margin-left: var(--dl-space-space-twounits);
  }
  .header-v2-burger-menu {
    position: relative;
  }
  .header-v2-text4 {
    width: auto;
  }
}
@media(max-width: 991px) {
  .header-v2-navbar-interactive {
    padding-left: TwoUnits;
    padding-right: TwoUnits;
  }
  .header-v2-desktop-menu {
    display: none;
  }
  .header-v2-burger-menu {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .header-v2-text4 {
    flex: initial;
    width: auto;
    height: auto;
    position: static;
    padding-right: var(--dl-space-space-halfunit);
  }
  .header-v2-icon {
    fill: var(--dl-color-text-whitetext);
    margin-left: var(--dl-space-space-halfunit);
  }
  .header-v2-mobile-menu {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: rgba(21, 57, 108, 0.95);
  }
  .header-v2-nav {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .header-v2-top {
    margin-bottom: 0px;
  }
  .header-v2-close-menu {
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: flex-end;
  }
  .header-v2-icon2 {
    fill: var(--dl-color-text-whitetext);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-v2-links1 {
    flex: 1;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .header-v2-navlink5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-v2-navlink6 {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-v2-navlink7 {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-v2-navlink8 {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .header-v2-buttons1 {
    display: none;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .header-v2-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-v2-burger-menu {
    align-items: center;
  }
  .header-v2-text4 {
    flex: initial;
    height: auto;
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .header-v2-text4 {
    position: static;
    padding-right: var(--dl-space-space-threeunits);
  }
  .header-v2-icon {
    fill: var(--dl-color-text-whitetext);
  }
}

.upload-process-masthead-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-default-accentbluedark);
}
.upload-process-masthead-container1 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.upload-process-masthead-heading {
  color: var(--dl-color-text-darktext);
}
.upload-process-masthead-text {
  margin-top: var(--dl-space-space-unit);
}
.upload-process-masthead-text1 {
  width: auto;
  height: auto;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  min-width: auto;
  margin-top: var(--dl-space-space-unit);
  max-height: auto;
  min-height: auto;
}




@media(max-width: 1200px) {
  .upload-process-masthead-container1 {
    width: 100%;
  }
  .upload-process-masthead-text1 {
    width: 100%;
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 125;
  position: relative;
  align-items: flex-start;
  background-color: var(--dl-color-primaryblue-primaryblue);
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.footer-text {
  color: var(--dl-color-text-whitetext);
}
.footer-text1 {
  color: var(--dl-color-text-whitetext);
  margin-top: var(--dl-space-space-halfunit);
}
.footer-text2 {
  color: var(--dl-color-text-whitetext);
  width: 80%;
  font-size: 1rem;
  font-style: italic;
  min-height: 160px;
  font-family: "Roboto";
  font-weight: 300;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.footer-root-class-name {
  width: 100%;
}
.footer-root-class-name1 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name2 {
  top: bottom;
  left: 0px;
  bottom: 0vh;
  height: auto;
  position: static;
}


.footer-root-class-name5 {
  width: 100vw;
}

.footer-root-class-name7 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name8 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name9 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name10 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name11 {
  width: 100%;
}
.footer-root-class-name12 {
  top: bottom;
  left: 0px;
  bottom: 0vh;
  height: auto;
  position: static;
}
@media(max-width: 767px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-container1 {
    width: 100%;
    margin: 0px;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .footer-text2 {
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .footer-container1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}

.data-upload-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
}
.data-upload-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
  flex-direction: column;
}
.data-upload-container2 {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.data-upload-text {
  color: var(--dl-color-primaryblue-primaryblue);
  width: auto;
  display: none;
  align-self: flex-start;
  margin-top: 0px;
  margin-left: 0px;
}
.data-upload-form {
  width: 100%;
  height: auto;
  display: flex;
}
.data-upload-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.data-upload-vehicle-information {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.data-upload-text01 {
  margin-top: 2rem;
  text-align: left;
}
.data-upload-vehicle-body-class {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  align-items: center;
  justify-content: flex-start;
}
.data-upload-text02 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  text-align: left;
  line-height: normal;
}
.data-upload-select {
  height: auto;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-vehicle-weight-class {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.data-upload-text03 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  text-align: left;
  line-height: normal;
}
.data-upload-select1 {
  height: auto;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-vehicle-make {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.data-upload-text04 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  text-align: left;
  line-height: normal;
}
.data-upload-textinput {
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-vehicle-model {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.data-upload-text05 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  text-align: left;
  line-height: normal;
}
.data-upload-textinput01 {
  width: var(--dl-size-size-medium);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-vehicle-year {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
}
.data-upload-text06 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  text-align: left;
  line-height: normal;
}
.data-upload-textinput02 {
  width: 72px;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-vehicle-measurements {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.data-upload-text07 {
  margin-top: 2rem;
  text-align: left;
}
.data-upload-scan-start-side-selection {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 4px;
  align-items: center;
  justify-content: flex-start;
}
.data-upload-text08 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  text-align: left;
  line-height: normal;
}
.data-upload-select2 {
  height: auto;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-front-of-vehicle-to-front-of-seat-at-forward-position-measurement {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.data-upload-text09 {
  color: #000000;
  width: auto;
  height: auto;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto";
  line-height: normal;
}
.data-upload-text10 {
  font-weight: 500;
}
.data-upload-textinput03 {
  width: var(--dl-size-size-small);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text12 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-textinput04 {
  width: 64px;
  margin-left: var(--dl-space-space-unit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text13 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-front-of-vehicle-to-front-of-seat-at-back-position-measurement {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
}
.data-upload-text14 {
  color: #000000;
  width: auto;
  height: auto;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto";
  line-height: normal;
}
.data-upload-text15 {
  font-weight: 500;
}
.data-upload-textinput05 {
  width: var(--dl-size-size-small);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text17 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-textinput06 {
  width: 64px;
  margin-left: var(--dl-space-space-unit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text18 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-seat-depth-meansurement {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
}
.data-upload-text19 {
  color: #000000;
  width: auto;
  height: auto;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto";
  line-height: normal;
}
.data-upload-text20 {
  font-weight: 500;
}
.data-upload-textinput07 {
  width: var(--dl-size-size-small);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text22 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-textinput08 {
  width: 64px;
  margin-left: var(--dl-space-space-unit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text23 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-seat-center-to-outmost-point-of-vehicle-measurement {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
}
.data-upload-text24 {
  color: #000000;
  width: auto;
  height: auto;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto";
  line-height: normal;
}
.data-upload-text25 {
  font-weight: 500;
}
.data-upload-textinput09 {
  width: var(--dl-size-size-small);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text27 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-textinput10 {
  width: 64px;
  margin-left: var(--dl-space-space-unit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text28 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-upper-seat-height-measurement {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
}
.data-upload-text29 {
  color: #000000;
  width: auto;
  height: auto;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto";
  line-height: normal;
}
.data-upload-text30 {
  font-weight: 500;
}
.data-upload-textinput11 {
  width: var(--dl-size-size-small);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text32 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-textinput12 {
  width: 64px;
  margin-left: var(--dl-space-space-unit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text33 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-lower-seat-height-measurement {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
}
.data-upload-text34 {
  color: #000000;
  width: auto;
  height: auto;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto";
  line-height: normal;
}
.data-upload-text35 {
  font-weight: 500;
}
.data-upload-textinput13 {
  width: var(--dl-size-size-small);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text37 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-textinput14 {
  width: 64px;
  margin-left: var(--dl-space-space-unit);
  padding-top: 4px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: var(--dl-color-text-whitetext);
}
.data-upload-text38 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  line-height: normal;
  padding-left: 4px;
}
.data-upload-data-upload {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.data-upload-text39 {
  width: auto;
  margin-top: 2rem;
}
.data-upload-text40 {
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  margin-top: 4px;
  text-align: left;
  line-height: normal;
}
.data-upload-li-dar-scan-upload {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-upload-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 1rem;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  border-radius: 50px;
}
.data-upload-textinput15 {
  height: 50px;
  padding: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 150px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-default-accentbluedark);
}
.data-upload-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.data-upload-navlink {
  display: absolute;
  align-self: center;
  text-decoration: none;
}
.data-upload-container6 {
  flex: 1;
  width: auto;
  height: var(--dl-size-size-xsmall);
  max-width: 480px;
  min-width: 160px;
  align-self: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  display: none;
}
.data-upload-container7 {
  display: contents;
}
.data-upload-submit-entry {
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}




.data-upload-text41 {
  color: var(--dl-color-text-whitetext);
}
@media(max-width: 1200px) {
  .data-upload-container2 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .data-upload-text02 {
    margin: 4px 0;
  }
  .data-upload-text03 {
    margin: 4px 0;
  }
  .data-upload-text04 {
    margin: 4px 0;
  }
  .data-upload-text05 {
    margin: 4px 0;
  }
  .data-upload-text06 {
    margin: 4px 0;
  }
  .data-upload-text08 {
    margin: 4px 0;
  }
  .data-upload-text09 {
    margin: 4px 0;
  }
  .data-upload-text14 {
    margin: 4px 0;
  }
  .data-upload-text19 {
    margin: 4px 0;
  }
  .data-upload-text24 {
    margin: 4px 0;
  }
  .data-upload-text29 {
    margin: 4px 0;
  }
  .data-upload-text34 {
    margin: 4px 0;
  }
}
@media(max-width: 767px) {
  .data-upload-container6 {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
}
