.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 125;
  position: relative;
  align-items: flex-start;
  background-color: var(--dl-color-primaryblue-primaryblue);
}
.footer-text {
  width: 30%;
  font-size: 1rem;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 500;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.footer-text1 {
  color: var(--dl-color-gray-white);
}
.footer-text3 {
  color: var(--dl-color-gray-900);
  width: 100%;
  font-size: 1rem;
  font-style: italic;
  min-height: 160px;
  font-family: "Roboto";
  font-weight: 300;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.footer-root-class-name {
  width: 100%;
}
.footer-root-class-name1 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name2 {
  top: bottom;
  left: 0px;
  bottom: 0vh;
  height: auto;
  position: static;
}


.footer-root-class-name5 {
  width: 100vw;
}

.footer-root-class-name7 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name8 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name9 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
.footer-root-class-name10 {
  top: bottom;
  left: 0px;
  width: 100vw;
  bottom: 0vh;
  position: static;
}
