.upload-process-masthead-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-default-accentbluedark);
}
.upload-process-masthead-container1 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.upload-process-masthead-heading {
  color: var(--dl-color-text-darktext);
}
.upload-process-masthead-text {
  margin-top: var(--dl-space-space-unit);
}
.upload-process-masthead-text1 {
  width: auto;
  height: auto;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  min-width: auto;
  margin-top: var(--dl-space-space-unit);
  max-height: auto;
  min-height: auto;
}




@media(max-width: 1200px) {
  .upload-process-masthead-container1 {
    width: 100%;
  }
  .upload-process-masthead-text1 {
    width: 100%;
  }
}
